body {
    font-family: "Open Sans";
  }
h1 {
  text-transform: uppercase;
  font-weight: 100;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    text-transform: uppercase;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  li a.current {
    background-color: white;
  }
 
